.parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 1fr;
    min-height: 100vh;
    margin: 0;
}

.header {
    grid-column: 1 / -1;
    background-color: rgb(54, 52, 52);
    color: #fff;
}

.header>div {
    padding: 20px;
}

.navbar {
    background-color: black;
}

.navigation {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 15px 0;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}

.main {
    grid-column: 1 / 2;
    background-color: rgb(199, 197, 197);
    padding: 20px;
}

.aside {
    grid-column: 2 / 3;
    background-color: #fff;
    padding: 20px;
}

.footer {
    grid-column: 1 / -1;
    background-color: rgb(54, 52, 52);
    color: #fff;
    text-align: center;
    padding: 20px;
}